<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login-page.css">
  <script defer src="final.js"></script>
</head>

<body>

  <main id="main-holder">
    <h4>Username: NamanJangid <br> Access Token: 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 </h4>

<form action="https://airtable.com/appCy4sKiyIq7HeiL/pagvZ9PbBWdxIb40F">
  <label for="Repos">Choose a Repository: </label>
  <select name="Repos" id="Repos">
    <option value="AFA22SCM10B/SCM587FA22">AFA22SCM10B/SCM587FA22</option>
    <option value="grc-iit/coeus-adapter">grc-iit/coeus-adapter</option>
    <option value="berg-lab/fluxteq_heatflux_rpi">berg-lab/fluxteq_heatflux_rpi</option>
    <option value="berg-lab/R-in-building-science">berg-lab/R-in-building-science</option>
    <option value="berg-lab/BORC">berg-lab/BORC</option>
    <option value="grc-iit/berg-lab/PurpleAir">berg-lab/PurpleAir</option>
    <option value="berg-lab/R-in-building-science">berg-lab/R-in-building-science</option>
    <option value="berg-lab/Steam_Trap_DSP">berg-lab/Steam_Trap_DSP</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
  
</main>
</body>

</html>



