<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Access Token</title>
</head>
<body>
<H3> Hello {{ name }} Welcome </H3>
Please Enter Access Token to Access You Repos<br><br>
<form id="login-form" method="POST">
        <label for="AccessToken">Access Token</label><input type="text" name="AccessToken" id="AccessToken" class="AccessToken" placeholder="AccessToken" Required><br>
        <input type="button" onclick="window.location.href='repos'" value="Submit" id="AccessToken" />
    </form>
</body>
</html>